/* When adding files I need to switch from CSS file to SCSS file */

body {
  background-color: black;
}

a {
  color: aqua;
}

.showcase {
  background-color: black;
  border: 1px solid white;
}


.showcaseP {
  line-height: 20px;
}

.threeChoices {
  display: none;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  border: 1px solid red;
  background-color: red;
  color: black;
}

.contactUsModal1 {
  display: none;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 20%;
  border: 1px solid red;
  background-color: white;
  color: black;
}

.contactUsModal2 {
  @extend .contactUsModal1;
  top: 50%;
  left: 50%;
}
