body {
  background-color: black;
}

a {
  color: aqua;
}

.showcase {
  background-color: black;
  border: 1px solid white;
}


.showcaseP {
  line-height: 20px;
}

.threeChoices {
  display: none;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  border: 1px solid red;
  background-color: red;
  color: black;
}
